@use "../define/font";
@use "../define/color";

.button {
  font-family: font.$font-family-default;
  background: color.$gray;

  &.-primary {
    background: color.$blue;
  }

  &.-success {
    background: color.$green;
  }

  &.-warning {
    background: color.$red;
  }
}
